html {
  -webkit-text-size-adjust: 100%;
}

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, "Inter", "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* muito importante:
   deixa o browser parar de tentar estilizar controls
   com light/dark automático por conta própria */
:root,
:root[data-theme="light"],
:root[data-theme="dark"] {
  color-scheme: light;
}